# --- Backend (Web API) ---
bin/
obj/
.vs/
.vscode/
.idea/
appsettings.Development.json
appsettings.Production.json
*.user
*.userosscache
*.suo
*.userprefs
project.lock.json
project.fragment.lock.json

# --- Angular (Frontend) ---
node_modules/
dist/
out-tsc/
coverage/
*.js
*.map
.vscode/
.idea/
.DS_Store
Thumbs.db
